<main>
    <h2>Latest Articles</h2>
    <article>
      <h3><a href="#">Article Title 1</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    </article>
    <article>
      <h3><a href="#">Article Title 2</a></h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. ...</p>
    </article>
</main>